<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <h1>Hello, <%= @user.name || @user.email %>!</h1>

      <h4>Welcome back to BlocItOff. Get to work completing the tasks on your list! Remember: You have 7 days to get an item done before it gets deemed unimportant and gets deleted automatically.</h4>

      <h1 class='list-title'><%= "Here are your current to-do lists:"%></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-of-lists">
        <h3><%= @user.name %>'s Lists:</h3>
          <%= render partial: 'lists/lists', locals: { user: @user } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'lists/form', list: List.new, user: @user %>
    </div>
  </div>
</div>