<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
</head>
<body class="welcome">
  <div class="container">
    <ul class="nav nav-pills" role="tablist">
      <li class="title"><h2>Blocitoff</h2></li>
      <li class="middle"><%= link_to "Home", root_url %></li>
      <li class="middle"><%= link_to "About", welcome_about_path %></li>
      <% if current_user %>
      <li class="middle"><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <% end %>
      <div class="pull-right user-info">
      <% if current_user %>
        <%= gravatar_for current_user %>
      <div class="current-user-name">
        <li>Hello <%= link_to "#{current_user.name}", user_session_path %>!</li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <strong><%= link_to "Sign In", new_user_session_path %></strong> or
        <strong><%= link_to "Sign Up", new_user_registration_path %></strong>
      <p class="alert"><%= alert %></p>
      <% end %>
    </ul>
    </div>
  </div>
    <%= yield %>
</body>
</html>